@import "./toggle.css";
@import "./load-button.css";

:root {
  --color-text: #ffffff;
  --color-special: #00b982;

  --dark-bg: #2b2b2b;
  --color-text-body: #ffffff;

  --dark-bg-input: #455243;
  --color-text-input: #d8d8d8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.75rem;
  background: var(--color-special);
  color: var(--color-text);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-special);
  padding: 1.2rem;
}

.header a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-text);
}

.header a img {
  width: 12%;
  height: auto;
  margin-left: 1rem;
}

.main {
  padding: 2.5rem;
}

.search h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 40%;
  border: none;
  border: 2px solid var(--color-special);
}

.gallery {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem 0rem;
  width: 90%;
  margin: auto;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.gallery-item.portrait {
  grid-row-start: span 2;
}

.gallery-item.landscape {
  grid-column-start: span 2;
}

.gallery-item img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.img-properties a {
  text-decoration: none;
  color: rgba(43, 43, 43, 0.6);
}

/*
--------------------------------------------------------------------------------
DARK MODE STYLES
--------------------------------------------------------------------------------
*/

.dark-theme {
  background: var(--dark-bg);
  color: var(--color-text-body);
}

.dark-theme .search-form input {
  background: var(--dark-bg-input);
  color: var(--color-text-input);
}

.dark-theme .img-properties a {
  color: var(--color-text-body);
}
